@mixin flex($dir, $align, $justify) {
  display: flex;
  flex-direction: $dir;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin abs($top, $right, $bottom, $left, $xOffset, $yOffset) {
  position: absolute;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
  transform: translate($xOffset, $yOffset);
}
