@use "./Common.module.scss" as commonStyles;

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;

  .folderMain {
    width: 25%;
    height: 50%;
    @include commonStyles.flex(column, center, center);
    overflow-y: auto;
  }
}
