@use "./Common.module.scss" as commonStyles;

.dashboardMain {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.main {
  width: 100%;
  overflow-y: auto;
  background-color: white;
  border-radius: var(--radius);
  display: flex;
  flex-wrap: wrap;

  .folderMain {
    width: 25%;
    @include commonStyles.flex(column, center, center);
    overflow-y: auto;
  }
}
