@use "./Common.module.scss" as commonStyles;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

:root {
  --bg: #bbe6f3;
  --main: white;
  --textColor: #063064;
  --mainHeight: 85vh;
  --mainWidth: 90vw;

  --radius: 8px;
}

a,
button {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

button,
input[type="text"] {
  padding: 4px 10px;
  border: 2px solid #aeb8cc;
  border-radius: 4px;
  transition: 0.2s border-color;

  &:hover {
    border-color: var(--textColor);
  }
}

.title,
.single-line-title {
  color: var(--textColor);
  @include commonStyles.flex(column, center, center);
  position: relative;
}

.title {
  span {
    width: 100%;
    border: 2px solid var(--textColor);
    border-radius: 50px;
    position: relative;
  }
}

.title span,
.single-line-title {
  &::before {
    content: "";
    @include commonStyles.abs(auto, 50%, 0, auto, -5px, 9px);
    border: 2px solid var(--textColor);
    border-radius: 50px;
    width: 20%;
  }

  &::after {
    content: "";
    @include commonStyles.abs(auto, 0, 0, auto, 2px, 9px);
    border: 2px solid var(--textColor);
    border-radius: 50px;
    width: 50%;
  }
}

.single-line-title::before {
  transform: translate(-5px, 5px);
}
.single-line-title::after {
  transform: translate(2px, 5px);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  @include commonStyles.absCenter();
  @include commonStyles.flexCenter();
  cursor: pointer;

  .modal-main {
    width: 70%;
    height: 70%;
    cursor: initial;

    .modal-inner-main {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: var(--radius);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10% 90%;
      place-content: space-between;

      & > h3 {
        text-align: center;
        padding-top: 1.5%;
      }

      // different modals go here
      .create-modal-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 70% 15%;

        .color-container {
          width: 100%;
          @include commonStyles.flex(row, center, space-evenly);

          .color-main {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

            .color-check {
              @include commonStyles.absCenter();
            }

            .color-selected {
              width: 125%;
              height: 125%;
              border-radius: 50%;
              @include commonStyles.absCenter();
              border: 2px solid white;
            }
          }
        }

        main {
          @include commonStyles.flex(column, center, center);

          input {
            padding: 10px;
            width: 100%;
          }

          .folder-lock {
            margin-top: 15px;
            @include commonStyles.flex(row, center, space-between);

            & > div {
              width: 70px;
              margin-left: 10px;
              position: relative;

              input[type="checkbox"] {
                position: relative;
                cursor: pointer;

                --inputHeight: 23px;

                &:not(:checked) + label::after {
                  content: attr(data-unchecked);
                }

                &:checked + label::before {
                  content: attr(data-checked);
                }

                &:checked + label::before,
                &:not(:checked) + label::after {
                  font-size: 0.8em;
                  pointer-events: none;
                  @include commonStyles.abs(50%, auto, auto, 50%, -50%, -50%);
                }

                &::before {
                  content: "";
                  @include commonStyles.abs(50%, auto, auto, 0, 0, -50%);
                  width: 100%;
                  height: var(--inputHeight);
                  background-color: white;
                  border: 1px solid #aeb8cc;
                  border-radius: 25px;
                  transition: background-color 0.25s;
                }

                &:checked::before {
                  background-color: #aeb8cc;
                }

                &::after {
                  content: "";
                  @include commonStyles.abs(50%, auto, auto, 0, 0, -50%);
                  width: var(--inputHeight);
                  height: var(--inputHeight);
                  border-radius: 50%;
                  transition: left 0.25s, background-color 0.25s;
                  border: 1px solid #aeb8cc;
                  transform: translateY(-50%) scale(0.9);
                  background-color: #aeb8cc;
                }

                &:checked::after {
                  background-color: white;
                  left: calc(100% - var(--inputHeight));
                }
              }
            }
          }

          .folder-icon {
            font-size: 18em !important;
          }
        }

        .actions {
          @include commonStyles.flex(row, center, space-evenly);
        }
      }
    }
  }
}

.folder-icon {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.folder-main {
  .folder-edit-icon {
    --iconHeight: 1.3rem;

    @include commonStyles.abs(0, 0, auto, auto, 0, 0);
    opacity: 0;
    font-size: 1.3em;
    transition: 0.2s opacity;
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    z-index: 20;
    @include commonStyles.flexCenter();

    .icon {
      pointer-events: none;
    }

    // path {
    //   // stroke: white;
    //   // stroke-width: 15px;
    // }
  }

  &:hover .folder-edit-icon {
    opacity: 1;
  }
}

.topDiv {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: var(--radius);
}

.center {
  @include commonStyles.flexCenter();
}
