@use "./Common.module.scss" as commonStyles;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fjalla One", sans-serif;
}

:root {
  --bg: #bbe6f3;
  --main: white;
  --textColor: #063064;
  --mainHeight: 85vh;
  --mainWidth: 90vw;
  --headerHeight: 45px;
  --radius: 8px;
}

body {
  overflow: hidden;
}

a {
  color: initial;
}

a,
button {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
}

button,
input[type="text"],
textarea {
  padding: 4px 10px;
  border: 2px solid #aeb8cc;
  border-radius: 4px;
  transition: 0.2s border-color;

  &:hover {
    border-color: var(--textColor);
  }
}

.delete-btn {
  --redColor: rgb(226, 104, 104);

  border-color: var(--redColor);

  svg {
    color: var(--redColor);
  }
}

.subtitle {
  opacity: 0.6;
}

.title,
.single-line-title {
  color: var(--textColor);
  @include commonStyles.flex(column, center, center);
  position: relative;
}

.title {
  span {
    width: 100%;
    border: 2px solid var(--textColor);
    border-radius: 50px;
    position: relative;
  }
}

.title span,
.single-line-title {
  &::before {
    content: "";
    @include commonStyles.abs(auto, 50%, 0, auto, -5px, 9px);
    border: 2px solid var(--textColor);
    border-radius: 50px;
    width: 20%;
  }

  &::after {
    content: "";
    @include commonStyles.abs(auto, 0, 0, auto, 2px, 9px);
    border: 2px solid var(--textColor);
    border-radius: 50px;
    width: 50%;
  }
}

.single-line-title::before {
  transform: translate(-5px, 5px);
}
.single-line-title::after {
  transform: translate(2px, 5px);
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  @include commonStyles.absCenter();
  @include commonStyles.flexCenter();
  cursor: pointer;

  .modal-main {
    width: 70%;
    height: 70%;
    cursor: initial;

    .modal-inner-main {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: var(--radius);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 10% 90%;
      place-content: space-between;

      & > h3 {
        text-align: center;
        padding-top: 1.5%;
      }

      // different modals go here
      .create-modal-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 15% 70% 15%;

        .color-container {
          width: 100%;
          @include commonStyles.flex(row, center, space-evenly);

          .color-main {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

            .color-check {
              @include commonStyles.absCenter();
            }

            .color-selected {
              width: 125%;
              height: 125%;
              border-radius: 50%;
              @include commonStyles.absCenter();
              border: 2px solid white;
            }
          }
        }

        main {
          @include commonStyles.flex(column, center, center);

          input {
            padding: 10px;
            width: 100%;
          }

          .folder-lock {
            margin-top: 15px;
            @include commonStyles.flex(row, center, space-between);

            & > div {
              width: 70px;
              margin-left: 10px;
              position: relative;

              input[type="checkbox"] {
                position: relative;
                cursor: pointer;

                --inputHeight: 23px;

                &:not(:checked) + label::after {
                  content: attr(data-unchecked);
                }

                &:checked + label::before {
                  content: attr(data-checked);
                }

                &:checked + label::before,
                &:not(:checked) + label::after {
                  font-size: 0.8em;
                  pointer-events: none;
                  @include commonStyles.abs(50%, auto, auto, 50%, -50%, -50%);
                }

                &::before {
                  content: "";
                  @include commonStyles.abs(50%, auto, auto, 0, 0, -50%);
                  width: 100%;
                  height: var(--inputHeight);
                  background-color: white;
                  border: 1px solid #aeb8cc;
                  border-radius: 25px;
                  transition: background-color 0.25s;
                }

                &:checked::before {
                  background-color: #aeb8cc;
                }

                &::after {
                  content: "";
                  @include commonStyles.abs(50%, auto, auto, 0, 0, -50%);
                  width: var(--inputHeight);
                  height: var(--inputHeight);
                  border-radius: 50%;
                  transition: left 0.25s, background-color 0.25s;
                  border: 1px solid #aeb8cc;
                  transform: translateY(-50%) scale(0.9);
                  background-color: #aeb8cc;
                }

                &:checked::after {
                  background-color: white;
                  left: calc(100% - var(--inputHeight));
                }
              }
            }
          }

          .folder-icon {
            font-size: 18em !important;
          }
        }
      }

      .upload-image-modal-container {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 80% 15%;
        justify-content: space-evenly;
        align-content: space-evenly;

        .image-container {
          @include commonStyles.flexCenter();
          border-radius: var(--radius);
          border: 1px solid #aeb8cc;

          .image-main {
            @include commonStyles.flex(column, center, center);
            gap: 10px 0;

            label {
              cursor: pointer;
            }
          }

          img {
            max-width: 95%;
            max-height: 95%;
            border-radius: var(--radius);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
          }
        }

        main {
          @include commonStyles.flex(column, center, space-between);

          div {
            width: 90%;
            @include commonStyles.flex(column, flex-start, center);

            &:nth-child(2) {
              flex: 1;
              margin-top: 30px;
            }

            label {
              margin-bottom: 5px;
            }

            input,
            textarea {
              width: 100%;
            }

            textarea {
              flex: 1;
              resize: none;
            }
          }
        }

        .modal-actions {
          grid-column: 1 / span 2;
        }
      }

      .delete-modal-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;

        .center {
          flex-direction: column;

          h4 {
            margin: 45px 0 5px 0;

            .folder-name {
              margin-left: 5px;
            }

            .from {
              font-weight: normal;
            }
          }

          .deleted-img {
            max-width: 60%;
            max-height: 60%;
            margin: 10px 0;
            border-radius: var(--radius);
            box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
          }
        }
      }
    }
  }

  &.image-modal {
    padding: 7px;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--radius);
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
      cursor: initial;
    }

    .close {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: white;
      @include commonStyles.abs(15px, 15px, auto, auto, 0, 0);
      @include commonStyles.flexCenter();
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
      padding: 2px;

      div {
        width: 100%;
        height: 100%;
        border: 1px solid var(--textColor);
        @include commonStyles.flexCenter();
        border-radius: 50%;
        box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
        transition: 0.3s border ease-out;

        .icon {
          font-size: 1.2rem;
          transition: 0.3s transform ease-out;
        }
      }

      &:hover {
        div {
          border: none;

          .icon {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
}

.modal-actions {
  @include commonStyles.flex(row, center, space-evenly);
}

.folder-icon {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
}

.common-header {
  width: 100%;
  height: var(--headerHeight);
  @include commonStyles.flex(row, center, space-between);
  padding: 0 10px;

  .folder-name {
    @include commonStyles.flex(row, center, space-between);

    h4 {
      margin-left: 5px;
    }
  }
}

.folder-main {
  .folder-edit-icon {
    --iconHeight: 1.3rem;

    @include commonStyles.abs(0, 0, auto, auto, 0, 0);
    opacity: 0;
    font-size: 1.3em;
    transition: 0.2s opacity;
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    z-index: 20;
    @include commonStyles.flexCenter();

    .icon {
      pointer-events: none;
    }

    // path {
    //   // stroke: white;
    //   // stroke-width: 15px;
    // }
  }

  &:hover .folder-edit-icon {
    opacity: 1;
  }
}

.topDiv {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: var(--radius);
}

.error-container {
  position: relative;
  @include commonStyles.flexCenter();

  button {
    @include commonStyles.abs(auto, auto, 10%, 50%, -50%, 0);
  }
}

.center {
  @include commonStyles.flexCenter();
}

.centerAbs {
  @include commonStyles.absCenter();
}
