@use "./Common.module.scss" as commonStyles;

.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  @include commonStyles.flex(row, center, space-between);

  .left {
    width: 300px;
    height: 100%;
    overflow-y: auto;

    .item {
      margin-bottom: 25px;
      padding-right: 5px;

      h4 {
        margin-bottom: 4px;

        .icon {
          margin-right: 7px;
        }
      }

      p {
        text-align: justify;
      }
    }
  }

  .right {
    flex: 1;
    height: 100%;
    margin-left: 15px;
    @include commonStyles.flexCenter();
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--radius);
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
      cursor: pointer;
    }

    .dateText,
    .enlargeText {
      text-shadow: rgb(0 0 0 / 50%) 0 10px 10px;
      background-color: white;
      padding: 5px 8px;
      border-radius: var(--radius);
      color: var(--textColor);
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
    }

    .dateText {
      @include commonStyles.abs(8px, auto, auto, 50%, -50%, 0);
    }

    .enlargeText {
      opacity: 0;
      @include commonStyles.abs(auto, auto, -10px, 50%, -50%, 0);
      transition: 0.25s opacity, 0.2s bottom ease-out;
      pointer-events: none;
    }

    img:hover + .enlargeText {
      opacity: 1;
      bottom: 8px;
    }
  }
}
