@use "./Common.module.scss" as commonStyles;

.main {
  width: 100%;
  height: 100%;
  padding: 10px;
  @include commonStyles.flex(row, center, space-between);

  .left {
    width: 300px;
    height: 100%;
    overflow-y: auto;

    .item {
      margin-bottom: 25px;
      padding-right: 5px;

      h4 {
        margin-bottom: 4px;
      }

      p {
        text-align: justify;
      }
    }
  }

  .right {
    flex: 1;
    height: 100%;
    margin-left: 15px;
    @include commonStyles.flexCenter();
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: var(--radius);
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
    }

    img + h4 {
      @include commonStyles.abs(8px, auto, auto, 50%, -50%, 0);
      text-shadow: rgb(0 0 0 / 50%) 0 10px 10px;
      background-color: white;
      padding: 5px 8px;
      border-radius: var(--radius);
      color: var(--textColor);
      box-shadow: 0 0 10px 0.2px rgb(0 0 0 / 40%);
    }
  }
}
