@use "./Common.module.scss" as commonStyles;

.loginMain {
  & > span {
    position: relative;

    & > small {
      white-space: pre;
      @include commonStyles.abs(auto, auto, -40px, 50%, -50%, 0);
    }
  }

  .signInBtn {
    .icon {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}
